h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 30px 10px;
}

p {
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 30px;
}

header {
  text-align: center;
}

.game {
  border: 2px solid gray;
  background: cornsilk; 
  padding: 20px;
}